@font-face {
    font-family: "Proxima-Bold";
    src: url("ProximaNova-Bold.woff") format("woff"), url("ProximaNova-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima-Regular";
    src: url("../fonts/ProximaNova-Regular.woff") format("woff"),
        url("../fonts/ProximaNova-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
